//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$font-family-sans-serif: "Poppins", Helvetica, Arial, serif !default;
$font-family-monospace: "Poppins", Helvetica, Arial, serif !default;

$primary: #0eb663;
$headings-color: #3d4246;
