@font-face {
  font-family: "Khula-ExtraBold";
  src: url("/fonts/Khula-ExtraBold.ttf.woff") format("woff"),
    url("/fonts/Khula-ExtraBold.ttf.svg#Khula-ExtraBold") format("svg"), url("/fonts/Khula-ExtraBold.ttf.eot"),
    url("/fonts/Khula-ExtraBold.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fbfafb;
  color: #3d4246;
}

.stock-view {
  width: 296px;
  height: 128px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-family: "Khula-ExtraBold";
  margin: 40px auto;
}

.circle {
  /* background-color: gray;
  width: 80px;
  height: 80px;
  border-radius: 40px; */
  font-size: 24px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.symbol {
  height: 24px;
}
.left {
  padding: 5px;
  height: 100%;
  background-color: #2b2b2b;
  color: #f2eff0;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 5px;
  color: #252425;
}

.top {
  font-size: 14px;
  height: 14px;
}
.center {
  font-size: 48px;
  height: 48px;
}
.bottom {
  font-size: 24px;
  height: 24px;
}

.card-signin {
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;

  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.main-row-middle {
  height: 100vh;
  align-content: center;
}

.btn-primary {
  background-color: #0eb663;
  border-color: #0eb663;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:hover {
  background-color: #0b9250;
  border-color: #0a8749;
  box-shadow: 0 0 0.2rem #3af096;
}

.green-navbar {
  background-color: #f2eff0;
}

.green-navbar a {
  color: #0eb663;
}
.green-navbar .active {
  color: #0b9250;
  font-weight: 500;
}
.green-navbar a:hover {
  color: #0b9250;
}

@media (max-width: 1367px) {
  .col-lg-8 {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
